/* 表格 */
.table-display {
    width: 100%;
    /* 消除单元格间隙 */
    border-collapse: collapse;
    margin: 10px 0;
    /* 固定列宽 */
    table-layout: fixed;
}

/* 列宽分配*/
.table-display th:nth-child(1) {
    width: 30%;
}

.table-display th:nth-child(2) {
    width: 70%;
}

/* 单元格基础样式 */
.table-display th,
.table-display td {
    padding: 8px;
    /* 左对齐 */
    text-align: left;
    /* 底部边框 */
    border-bottom: 1px solid #eee;
}

/* 表头背景色 */
.table-display th {
    background: #f8f9fa;
}

/* 空表格提示 */
.empty-row td {
    color: #999;
    /* 居中 */
    text-align: center;
    padding: 15px;
}

.collapsible-section .collapsible-content {
    /* 默认隐藏内容 */
    max-height: 0;
    /* 隐藏溢出内容 */
    overflow: hidden;
}

.collapsible-section.active .collapsible-content {
    /* 展开高度 */
    max-height: 1000px;
}

/* 箭头样式 */
.toggle-arrow {
    margin-left: 8px;
    font-size: 0.7em;
}

#request-headers-table,
#response-headers-table {
    /* 默认隐藏表格 */
    display: none;
}

.collapsible-section.active #request-headers-table,
.collapsible-section.active #response-headers-table {
    /* 展开时显示表格 */
    display: table;
}