<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../style/main.css" />
  </head>

  <body>
    <div class="container">
      <h1>cTool</h1>

      <!-- curl -->
      <div id="curl-section">
        <h2>Curl</h2>
        <textarea
          id="curl-input"
          class="multi-editor"
          spellcheck="false"
        ></textarea>
        <div class="button-group">
          <button id="send-btn" class="primary">Send</button>
          <button id="parse-btn">Parse</button>
          <button id="clear-btn">Clear</button>
        </div>
      </div>

      <!-- request -->
      <div id="request-section">
        <h2>Request <span id="request-method"></span></h2>

        <!-- url -->
        <div id="request-url-section">
          <h3><span class="toggle-arrow">▼</span> Url</h3>
          <textarea
            id="request-url-editor"
            class="double-editor"
            spellcheck="false"
          ></textarea>
        </div>

        <!-- headers -->
        <div id="request-headers-section" class="collapsible-section">
          <h3 class="collapsible-title">
            <span class="toggle-arrow">▶</span> Headers
          </h3>
          <div class="collapsible-content">
            <table id="request-headers-table" class="table-display">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr class="empty-row">
                  <td colspan="2">No headers found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- parameters -->
        <div id="request-parameters-section">
          <h3><span class="toggle-arrow">▼</span> Parameters</h3>
          <table id="request-parameters-table" class="table-display">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr class="empty-row">
                <td colspan="2">No parameters found</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- payload -->
        <div id="request-payload-section">
          <h3><span class="toggle-arrow">▼</span> Payload</h3>
          <textarea
            id="request-payload-editor"
            class="multi-editor"
            spellcheck="false"
          ></textarea>
        </div>

        <!-- update -->
        <div class="button-group">
          <button id="update-btn" class="primary">Update</button>
        </div>
      </div>

      <!-- response -->
      <div id="response-section">
        <h2>Response</h2>

        <!-- headers -->
        <div id="response-headers-section" class="collapsible-section">
          <h3 class="collapsible-title">
            <span class="toggle-arrow">▶</span> Headers
          </h3>
          <div class="collapsible-content">
            <table id="response-headers-table" class="table-display">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr class="empty-row">
                  <td colspan="2">No headers found</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- data -->
        <div id="response-data-section">
          <h3><span class="toggle-arrow">▼</span> Data</h3>
          <pre id="data-output" class="multi-display"></pre>
          <div class="button-group">
            <button id="download-btn" class="primary" disabled>Download</button>
          </div>
        </div>
      </div>
    </div>

    <script src="../script/util/curl-parser.js"></script>
    <script src="../script/popup.js"></script>
  </body>
</html>
