/* 字体与排版 */
body {
    /* 字体序列栈 */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    /* 相对行间距 */
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    /* 下外边距 */
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    /* 上下外边距 */
    margin: 10px 0;
}

h3 {
    font-size: 16px;
    color: #666;
    margin: 8px 0;
}